h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  background: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

.item {
  background-color: #f6f6fe;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 392px;
  border-radius: 8px;
}

.category-name {
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.96px;
}
.elements-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.element {
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  width: 360px;
  height: 40px;

  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}
